.workspace {
  padding: 0px;
  display: flex;
  flex: 1;
  overflow: auto;
  align-items: center;
}

.workspace-top {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.workspace-content {
  width: var(--canvas-width, 1280px);
  height: var(--canvas-height, 720px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}
