.nav-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border-radius: 10%;
  cursor: pointer;
}

/* .nav-button.active {
  background-color: #eff6ff;
} */

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-icon.inventory {
  background-color: #d1fae5;
  color: #059669;
}
