/* Main Properties Panel CSS */
.properties-container {
  min-width: 250px;
  display: flex;
  flex: 0 0 250px;
  flex-direction: column;
  overflow: hidden scroll;
  padding: 10px;
  transition:
    width 0.2s ease,
    min-width 0.2s ease,
    flex-basis 0.2s ease;
}

.properties-container.closed {
  width: 0;
  padding: 0;
  min-width: 0;
  flex-basis: 0;
  transform: none;
}

.close-button {
  align-self: flex-start;
  margin: 10px;
}

.open-button {
  height: 40px;
  width: 40px;
  padding: 0;
}
.closed-properties-container {
  position: absolute;
  right: 18px;
  top: 20px;
  display: flex;
  width: auto;
  z-index: 10;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

/* Shared CSS Styles */
.setting {
  display: flex;
  gap: 5px;
}

.divider {
  border-top: 1px solid;
  margin: 10px 0;
}

.menu-item-selection {
  position: relative;
}

.search-input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid;
}

.suggestion-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid;
  border-radius: 0 0 6px 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggested-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid;
  transition: background-color 0.2s;
}

.display-options-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.opacity-input {
  width: 100%;
}
