#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  text-align: center;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-rows: 10px auto;
  gap: 10px;
}
