:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.app-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-auto-rows: auto 1fr auto;
  gap: 10px;
}

main {
  grid-column: 2;
  grid-row: 2;
  border-left: 1px solid rebeccapurple;
}

header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  background-color: rebeccapurple;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

aside {
  grid-column: 1;
  grid-row: 2;
  background-color: #1e1e1e;
  color: red;
  border-right: 1px solid rebeccapurple;
  width: 160px;
}

footer {
  color: blue;
  grid-row: 3;
  grid-column: 1 / 2;
  height: 50px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Header */
.logo {
  margin: 0;
}

.header-actions {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

/* SidePanel */

/* Content Container */
