:root {
  font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light;
  /* color-scheme: light dark; */
  color: black;
  background-color: #e1eaef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: white;
}

.app-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-auto-rows: auto 1fr auto;
  gap: 10px;
}

footer {
  color: pink;
  grid-row: 3;
  grid-column: 1 / -1;
  height: 20px;
  text-align: center;
}

/* Header */
header {
  grid-column: 1 / -1;
  grid-row: 1;
  height: 75px;
  padding: 5px 24px;
  display: grid;
  grid-template-columns: subgrid;
}

header h2 {
  font-size: 24px;
  font-weight: 800;
  color: #3c4043;
}

header p {
  margin: 0;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.logo {
  grid-column: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
}

.header-container {
  grid-column: 2;
  display: flex;
  justify-self: end;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.user-avatar:hover {
  box-shadow: 0 0 0 2px black;
}

/* SidePanel */
aside {
  grid-column: 1;
  grid-row: 2;

  overflow-y: auto;
  overflow-x: clip;
}

.sidepanel-menu-item {
  display: flex;
  align-items: center;
  background: none;
  padding: 12px 16px;
  margin: 4px 0;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  border-radius: 0 24px 24px 0;
  margin-right: 24px;
}

.sidepanel-menu-item:hover {
  background-color: #e8eaed;
}

.sidepanel-menu-item.active {
  background-color: #d3e3fd;
}

.sidepanel-menu-icon-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.sidepanel-menu-icon {
  width: 24px;
  height: 24px;
}

.sidepanel-menu-label {
  font-size: 16px;
  font-weight: 400;
}

/* Content Container */
main {
  grid-column: 2;
  grid-row: 2;
  margin: 0% 5% 0% 5%;
}

main h1 {
  margin-bottom: 8px;
}

main h3 {
  margin-top: 0;
}

main button {
  background-color: white;
  border: none;
  align-items: center;
  text-align: left;
  padding: 5px 10px;
  margin: 1px 5px;
  width: 100%;
  height: 84px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10px 10px 10px 10px;
  box-shadow:
    0 1px 3px rgba(60, 64, 67, 0.3),
    0 4px 8px rgba(60, 64, 67, 0.15);
}

main button:hover {
  background-color: #f1f3f4;
}

.items-content-container {
  overflow: hidden;
}

.item-content-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}

/* item-details-page */
.item-details-page {
  margin: 0px 50px 0px 50px;
  background-color: white;
  border-radius: 20px;
}
.item-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-details-title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.item-button {
  background-color: white;
  border: none;
  align-items: center;
  text-align: left;
  margin: 1px 5px;
  width: auto;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10px 10px 10px 10px;
}

.item-btn:hover {
  background-color: var(--hover-bg);
}

.items-details-back-button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  justify-content: left;
  cursor: pointer;
  margin-left: -20px;
}

.items-details-back-button:hover {
  background-color: #f1f3f4;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
}

.items-table th {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 8px;
  border-bottom: 1px solid black;
}

.items-table td {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  padding: 12px 8px;
}
